body {
  font-family: sans-serif;
  background: black;
}

h1 {
  display: flex;
  justify-content: center;
}

canvas h1 {
  color: red;
}
section p {
  display: grid;
  position: absolute;
  bottom: 15vh;
  left: 15vh;
  font-size: 9em;
  color: whitesmoke;
}
